.MMM-ChoreBoard .due-date-row {
    border-top: solid 1px #222;
    font-size: 21px
}

.MMM-ChoreBoard .chore-done {
    color: #80bc4f;
}

.MMM-ChoreBoard .chore-overdue {
    color: #ff7954;
}

.MMM-ChoreBoard .chore-done-cell {
    text-decoration: line-through;
}

.MMM-ChoreBoard .chore-table {
    border-collapse: collapse;
}
